<div class="container" *ngIf="posts">
<h1>ALL POSTS</h1>
<ul class="list">
  <li *ngFor="let post of posts">
  <a class="link animated fadeIn" routerLink="/posts/{{post.slug | decodeUrl}}">
    <h2>{{ post.title.rendered }}</h2>
   
  	<img *ngIf="post._embedded['wp:featuredmedia']" src="{{post._embedded['wp:featuredmedia'][0].media_details.sizes['mini-gal'].source_url}}" />
  	<img *ngIf="!post._embedded['wp:featuredmedia']" src="./assets/images/placeholder.jpg" />
  
    <div *ngIf="post.excerpt">
      <p [innerHTML]="post.excerpt.rendered | excerpt"></p>
    </div>
    
  
  </a>
  </li>
</ul>

<ul class="list more-posts" *ngIf="more_posts">
  <li *ngFor="let more_post of more_posts">
  <a class="link animated fadeIn" routerLink="/posts/{{more_post.slug | decodeUrl}}">
    <h2>{{ more_post.title.rendered }}</h2>

  	<img *ngIf="more_post._embedded['wp:featuredmedia']" src="{{more_post._embedded['wp:featuredmedia'][0].media_details.sizes['mini-gal'].source_url}}" />
  	<img *ngIf="!more_post._embedded['wp:featuredmedia']" src="./assets/images/placeholder.jpg" />

    <div *ngIf="more_post.excerpt">
      <p [innerHTML]="more_post.excerpt.rendered | excerpt"></p>
    </div>
    
  </a>

  </li>
</ul>

<p *ngIf="load_button" class="load-more-posts"><a (click)="getMorePosts()">LOAD MORE POSTS</a></p>
<p *ngIf="!load_button" class="load-more-posts"><span>THE END</span></p>
</div>